<% include base_header.ejs %>
    <!-- Custom styles for this template -->
    <link href="/static/main.css" rel="stylesheet">
    <title>UOW Online STM - Instructions</title>
  </head>
  <body>
    <div class="container">
      <noscript>
          <h1>JavaScript Required</h1>
          <p class="lead">This Website requires Javascript, i.e. it will not work without it.</p>
          <p class="lead">If you wish to use this site you will need to enable Javasript,
            however by enabling JavaScript, you are do so at your own risk.</p>
          <p class="lead">If you're cool with that, Here are the <a href="https://www.enable-javascript.com/">instructions to enable JavaScript</a> in your web browser.</p>
      </noscript>

      <h1 id="pageTitle">UOW Online STM</h1>
      <h2>Your instructions for this study</h2>
      <!--<div class="starter-template">-->
        <form id="instructionsForm" class="form-group row" action="/ostm/study/<%= studyName %>">
          <div class="form-group row">
            <label for="studyName" class="col-sm-3 col-form-label">Study Name</label>
              <div class="col-sm-9">
                <input class="form-control" type="text" id="studyName" name="studyName" readonly value="<%= studyName %>" />
              </div>
          </div>
          <div class="form-group row">
            <label for="PROLIFIC_PID" class="col-sm-3 col-form-label">Prolific PID</label>
              <div class="col-sm-9">
                <input class="form-control" type="text" id="PROLIFIC_PID" name="PROLIFIC_PID" readonly value="<%= qs.PROLIFIC_PID %>"/>
              </div>
          </div>
          <input style="display:none" id="STUDY_ID" name="STUDY_ID" value="<%= qs.STUDY_ID %>" />
          <input style="display:none" id="SESSION_ID" name="SESSION_ID" value="<%= qs.SESSION_ID %>" />
          <input style="display:none" id="checkConsent" name="checkConsent" value="<%= qs.checkConsent %>" />
          <div class="researcherCopy" id="researcherCopy">
            <p>The CUSTOM instructions have not loaded</p>
          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="col-sm-1 form-check-input" type="checkbox" id="checkInstructions" name="checkInstructions" required>
              <label class="col-sm-11 form-check-label" for="checkInstructions">I have read and understand these instructions.</label>
            </div>
          <button type="submit" class="btn btn-primary" value="Submit">Continue</button>
    	</form>
    </div>

<!-- End of Main Body -->
  <script src="/static/test.js"></script>
<% include base_footer.ejs %>
