<% include base_header.ejs %>
    <!-- Custom styles for this template -->
    <link href="/ostm/static/main.css" rel="stylesheet">
    <title>UOW Online STM - Consent</title>
  </head>
  <body>
    <div class="container">
        <noscript>
            <h1>JavaScript Required</h1>
            <p class="lead">This Website requires Javascript, i.e. it will not work without it.</p>
            <p class="lead">If you wish to use this site you will need to enable Javasript,
              however by enabling JavaScript, you are do so at your own risk.</p>
            <p class="lead">If you're cool with that, Here are the <a href="https://www.enable-javascript.com/">instructions to enable JavaScript</a> in your web browser.</p>
        </noscript>

        <h1 id="pageTitle">UOW Online STM</h1>
        <h2>Confirm\provide Participant Identification (PID)</h2>
        <div class="starter-template">
      		<form id="participantIDForm" action="/ostm/consent/<%= studyName %>">
            <div class="form-group row">
              <label for="studyName" class="col-sm-3 col-form-label">Study Name</label>
                <div class="col-sm-9">
                  <input class="form-control" type="text" id="studyName" name="studyName" readonly value="<%= studyName %>" />
                </div>
            </div>
            <input type="hidden" id="STUDY_ID" name="STUDY_ID" value="<%= qs.STUDY_ID %>" />
            <input type="hidden" id="SESSION_ID" name="SESSION_ID" value="<%= qs.SESSION_ID %>" />
            <div class="form-group row">
              <label for="PROLIFIC_PID" class="col-sm-3 col-form-label">Prolific PID</label>
                <div class="col-sm-9">
                  <input class="form-control" type="text" id="PROLIFIC_PID" name="PROLIFIC_PID" value="<%= qs.PROLIFIC_PID %>"/>
                </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" value="Submit">Continue</button>
            </div>
          </form>
        </div>

<!-- End of Main Body -->
    <script src="/ostm/static/ostm.js"></script>
<% include ostm_footer.ejs %>
