<% include base_header.ejs %>
    <!-- Custom styles for this template -->
    <link href="/static/study.css" rel="stylesheet">
    <title>UOW Online STM - Study</title>
  </head>
  <body>
<div class="outer">
  <div class="middle">
    <div class="inner">
    	<div class="stimulus" id="question">+</div>
    		<div class="startbutton">
    			<button id="buttonStart" class="btn btn-primary" onclick="startQuestions()">Click to Start</button>
		  	</div>
		  <div class="answers" id="answers" style="display:none">
        <label for="answer" class="col-sm-2 col-form-label">Enter Word</label>
        <div class="col-sm-4">
          <input class="form-control" type="text" id="answer" name="0" value="">
        </div>
		    <div class="col-sm-4">
		      <button class="btn btn-primary" onclick="updateAnswers()">Submit</button>
	      </div>
  			<p id="completionLink" style="display:none"></p>
  			<form id="form_answers" style="display:none">
  	      <input style="display:none" id="studyName" name="studyName" value="<%= studyName %>" />
  				<input style="display:none" id="STUDY_ID" name="STUDY_ID" value="<%= qs.STUDY_ID %>" />
  				<input style="display:none" id="PROLIFIC_PID" name="PROLIFIC_PID" value="<%= qs.PROLIFIC_PID %>" />
  				<input style="display:none" id="SESSION_ID" name="SESSION_ID" value="<%= qs.SESSION_ID %>" />
          <input style="display:none" id="consent" name="consent" value="<%= qs.consent %>" />
          <input style="display:none" id="trainingComplete" name="trainingComplete" value="<%= qs.trainingComplete %>" />
      	</form>

   	  </div>
      <p id="studyText"></p>
    </div>
  </div>
</div>

<script src="/static/test.js"></script>
<% include base_footer.ejs %>
